<br /><br /><br />
<h1>Homepage</h1>
<!-- Top-level catalog page; will display all item categories -->

<div style="margin-left: 5%">
  <div class="cateblock">
    <a class="nav-link" style="color: blue" routerLink="/mountaineering"
      >Mountaineering</a
    >
  </div>
  <div class="cateblock">
    <a class="nav-link" style="color: blue" routerLink="/outdoor">Outdoor</a>
  </div>
  <div class="cateblock">
    <a class="nav-link" style="color: blue" routerLink="/golf">Golf</a>
  </div>
  <div class="cateblock">
    <a class="nav-link" style="color: blue" routerLink="/camping">Camping</a>
  </div>
  <div class="cateblock">
    <a class="nav-link" style="color: blue" routerLink="/personal">Personal</a>
  </div>
</div>
