<header class="toolbar" role="banner">
  &nbsp;&nbsp;
  <div>
    <img height="50px" src="assets/logo.png" style="background: transparent" />
  </div>
  <div style="margin-left: auto; margin-right: 0">
    <a class="nav-link" style="color: white" routerLink="home">Home</a>&nbsp;
    <a class="nav-link" style="color: white" routerLink="cart">Cart</a>&nbsp;
    <a class="nav-link" style="color: white" routerLink="contactus"
      >Contact Us</a
    >&nbsp;
    <a class="nav-link" style="color: white" routerLink="aboutus">About Us</a
    >&nbsp;&nbsp;&nbsp;
    <a class="nav-link" style="color: white" routerLink="login">Login</a
    >&nbsp;&nbsp;&nbsp;
    <a class="nav-link" style="color: white" routerLink="register">Register</a
    >&nbsp;&nbsp;&nbsp;
  </div>
</header>

<router-outlet></router-outlet>
