/* You can add global styles to this file, and also import other style files */
/*@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";*/
* {
  font-family: verdana;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: rgb(39, 39, 39);
  color: red;
  font-weight: 600;
}
.toolbar a {
  text-decoration: none;
}
.toolbar a:hover {
  text-decoration: underline;
}

.pageblock {
  background-color: cyan;
  margin-top: 8%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  padding-top: 1%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 1%;
}

.cateblock {
  background-color: cyan;
  display: inline-block;
  margin-left: 15px;
  margin-top: 15px;
  width: 25%;
  height: 25%;
}

h1:not(.pageblock) {
  margin-left: 4%;
  margin-top: 3%;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
